

html{
    position: relative;
    }
    header
    {
    position: absolute;
    width: 1440px;
    height: 92px;
    left: 0px;
    top: 0px;
    background: #131313;
    border: 1px solid #131313;
    }
    .logo{
    position: relative;
    background: url(./image/logo\ 3\ \(1\).png) no-repeat;
    width: 224px;
    height: 184px;
    left: 587px;
    top: 0px;
    object-position: center;
    text-indent: -9999px; 
    }
    
    
   /* Listan <UL> med knapparna */
ul#meny {
margin: 30px 10px 30px 0;
padding: 0;
float: left;
left: 30px;
top: 90px;

}

/* Listelementen <LI> med knapparna */
ul#meny li {
display: grid;
list-style: none;
}

ul#meny li a {   
margin: 5px 5px 5px 5px;
padding: 0px 25px 0px 25px;
text-align: center;
white-space: nowrap;
line-height: 20px;
font-family: "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, sans-serif;
font-size: 16px;
color: rgb(247, 245, 241);
border-radius: 5px;
border: 1px solid rgb(216, 233, 203);
background: rgb(40, 41, 40);
box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.3), 0 2px 3px rgba(0,0,0,0.70);
z-index: 2;
}

#meny li a:hover {
cursor: pointer;
background: rgba(178,232,139,1);
color: rgba(0,0,0,1);
}

#meny a:link, #meny a:visited {
color: rgba(255,255,255,1);
text-decoration: none;
}

#meny a:active {
color: rgba(250,191,12,1);
}

#meny a#current {
background: rgba(85,137,48,1);
}
    .grid-container{
    position: absolute;
    left: 0px;
    top: 93px;
    background:url(./image/body\ 1.jpg) no-repeat;
    width: 1440px;
    height:900px;
    object-position: center;
    object-fit: contain;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    text-indent: -9999px;
    
    }
    .grid-container1{
    
    position: absolute;
    width: 1414px;
    height: 900px;
    left: 0px;
    top: 82px;
    background-color: black;
    object-position: center;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    text-indent: -9999px;
  
    
    }
    .rek1{
    background: url(./image/rek1.png) no-repeat;
    background-size: cover;
    position: absolute;
    width: 936px;
    height: 428px;
    left: 252px;
    top: 144px;
    text-indent: -9999px;
    }
    .parf1{
    position: absolute;
    width: 300px;
    height: 300px;
    left: 30px;
    top: 650px;
    background: url(./image/parf1.png) no-repeat;
    background-size: cover;
    text-indent: -9999px;
    }
    .parf2{
    position: absolute; 
    width: 300px;
    height: 300px;
    left: 370px;
    top: 650px;
    background: url(./image/parf2.png) no-repeat;
    background-size: cover;
    text-indent: -9999px;
    }
    .parf3{
    position: absolute; 
    width: 300px;
    height: 300px;
    left: 720px;
    top:650px;
    background: url(./image/parf3.png) no-repeat;
    background-size: cover;
    text-indent: -9999px;
    }
    .parf4{
    position: absolute;
    width: 300px;
    height: 300px;
    left:  1060px;
    top: 650px;
    background: url(./image/parf4.png) no-repeat;
    background-size: cover;
    text-indent: -9999px;
    
    }
    .rek2{
    background: url(./image/rek2.png) no-repeat;
    background-size: cover;
    position: absolute;
    width: 936px;
    height: 328px;
    left: 252px;
    top: 144px;
    text-indent: -9999px;
    }
    
    .lip1{
    position: absolute;
    width: 300px;
    height: 300px;
    left: 30px;
    top: 650px;
    background: url(./image/lip1.png) no-repeat;
    object-position: bottom;
    text-indent: -9999px;
    }
    .lip2{
    position: relative;
    background-size: cover;
    width: 300px;
    height: 300px;
    left: 370px;
    top: 640px;
    background: url(./image/lip2.jpg) no-repeat;
    text-indent: -9999px;
    }
    .lip3{
    position: absolute;
    width: 300px;
    height: 300px;
    left: 720px;
    top:650px;
    background-size: cover;
    text-indent: -9999px;
    background: url(./image/lip3.jpg) no-repeat;
    }
    .lip4{
    position: absolute;
    width: 300px;
    height: 300px;
    left: 1060px;
    top:650px;
    background-size: cover;
    background: url(./image/lip4.jpg) no-repeat;
    text-indent: -9999px;
    
    }
    /*mobile responsive  ----- */
    @media (min-width: 840px) { body {font-size:1rem;} } 
    @media  screen and (max-width: 1060px)
    {

header
{
width: 412px;
height: 82px;
}
.logo{
position: relative;
background: url(./image/logo\ 3\ \(1\).png) no-repeat;
width: 174px;
height: 104px;
top: 2px;
left: 97px;
object-position: center;
text-indent: -9999px; 
}
.grid-container{
position: absolute;
width: 412px;
height: 815px;
left: 0px;
top: 82px;
background:url(./image/body.png)no-repeat;
object-position: center;
border: 1px solid #000000;
box-sizing: border-box;
filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
text-indent: -9999px;
}
.grid-container1{

position: absolute;
width: 414px;
height: 815px;
left: 0px;
top: 82px;
background-color: black;
object-position: center;
filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
text-indent: -9999px;

}
.rek1{
background: url(./image/rek1.png) no-repeat;
position: absolute;
width: 309px;
height: 152px;
left: 61px;
top: 116px;
text-indent: -9999px;
}
.parf1{
position: absolute;
width: 180px;
height: 194px;
left: 36px;
top: 315px;
background: url(./image/parf1.png);
z-index: 1;
text-indent: -9999px;
}
.parf2{
    position: absolute;
width: 180px;
height: 194px;
left: 178px;
top: 411px;
background: url(./image/parf2.png);
text-indent: -9999px;
}
.parf3{
    position: absolute;
width: 180px;
height: 194px;
left: 36px;
top:608px;
;
background: url(./image/parf3.png);
z-index: 1;
text-indent: -9999px;
}
.parf4{
position: absolute;
width: 180px;
height: 194px;
left:  178px;
top: 677px;
background: url(./image/parf4.png);
text-indent: -9999px;

}
.rek2{
background: url(./image/rek2.png) no-repeat;
text-indent: -9999px;
position: absolute;
width: 309px;
height: 152px;
left: 61px;
top: 116px;
}

.lip1{
position: absolute;
width: 180px;
height: 194px;
left: 36px;
top: 315px;
background: url(./image/lip1\ 2.png);
text-indent: -9999px;
z-index: 1;
}
.lip2{
position: absolute;
width: 180px;
height: 194px;
left: 178px;
top: 411px;
background: url(./image/lip2.jpg);
text-indent: -9999px;
}
.lip3{
position: absolute;
width: 180px;
height: 194px;
left: 36px;
top:608px;
text-indent: -9999px;
background: url(./image/lip3.jpg);
z-index: 1;
}
.lip4{
position: absolute;
width: 180px;
height: 194px;
left:  178px;
top: 677px;
background: url(./image/lip4.jpg);
text-indent: -9999px;

}
    }