
    /*mobile-first responsive  ----- */
   
        html{
            display: flex;
            justify-content: center;
           
        }
      header{
top: 0;
background-color: black;
width: 414px;
height: 92px;
left: 0px;
      }  
      
      body{
        top:0px;  
        position:absolute;
        background-color: black;
      }
   /* Listan <UL> med knapparna */
ul#meny {
    margin: 25px 10px 25px 0;
    padding: 0;
    float: left;
    left: 30px;
    top: 104px;
    
    }

/* Listelementen <LI> med knapparna */
ul#meny li {
    display: grid;
    list-style: none;
    }
    
    ul#meny li a {   
    margin: 5px 5px 5px 5px;
    padding: 0px 20px 0px 20px;
    text-align: center;
    white-space: nowrap;
    line-height: 20px;
    font-family: "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, sans-serif;
    font-size: 16px;
    color: rgb(247, 245, 241);
    border-radius: 5px;
    border: 1px solid rgb(216, 233, 203);
    background: rgb(40, 41, 40);
    box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.3), 0 2px 3px rgba(0,0,0,0.70);
    z-index: 2;
    }
    
    #meny li a:hover {
    cursor: pointer;
    background: rgba(178,232,139,1);
    color: rgba(0,0,0,1);
    }
    
    #meny a:link, #meny a:visited {
    color: rgba(255,255,255,1);
    text-decoration: none;
    }
    
    #meny a:active {
    color: rgba(250,191,12,1);
    }
    
    #meny a#current {
    background: rgba(85,137,48,1);
    }
.logo{
position: relative;
background: url(./image/logo\ 3\ \(1\).png) no-repeat;
width: 174px;
height: 104px;
top: 2px;
left: 97px;
object-position: center;
text-indent: -9999px; 
}
button{
    padding: 0.1rem 0.5rem;
    margin: 7.5rem 0 0;
    border: ghostwhite solid;
    display: inline-block;
    text-decoration: none;
    color: #333;
    display: flex;
    justify-content: left;
}
.foo{
    display: flex;
    margin: auto;
    background-color: honeydew;
    padding: 0.5rem 0.rem;
}
.foo>p{
    text-align: center;
    
    font-size: 1rem;
}
.grid-container{
display: flex;
justify-content: center;
top: 90px;
position: absolute;
width: 414px;
height: 815px;
background:url(./image/body.png)no-repeat;
object-position: center;
border: 1px solid #000000;
box-sizing: border-box;
filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
text-indent: -9999px;
}
.grid-container2{
display:grid;
position: absolute;
width: 50%;
height: 815px;
background-color: black;
object-position: center;
filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
text-indent: -9999px;


}
.rek1{
display: flex;
background: url(./image/rek1.png) no-repeat;
position: absolute;
width: 309px;
height: 152px;
text-indent: -9999px;
left: 102px;
}
.parf1{
position: absolute;
width: 180px;
height: 194px;
left: 36px;
top: 315px;
background: url(./image/parf1.png);
z-index: 1;
text-indent: -9999px;
}
.parf2{
    position: absolute;
width: 180px;
height: 194px;
left: 178px;
top: 411px;
background: url(./image/parf2.png);
text-indent: -9999px;
}
.parf3{
    position: absolute;
width: 50%;
height: 194px;
left: 36px;
top:608px;
background: url(./image/parf3.png) no-repeat;
z-index: 1;
text-indent: -9999px;
}
.parf4{
position: absolute;
width: 180px;
height: 194px;
left:  178px;
top: 677px;
background: url(./image/parf4.png);
text-indent: -9999px;

}
.grid-container-lip{
    display: flex;
    justify-content: center;
}

.grid1 { 
display: flex;

background: url(./image/rek2.png) no-repeat;
text-indent: -9999px;
position: absolute;
width: 309px;
height: 152px;
left:102px;
text-indent: -9999px;
}

.flex-item1{
position: absolute;
width: 180px;
height: 194px;
left: 36px;
top: 315px;
background: url(./image/lip1\ 2.png);
text-indent: -9999px;
z-index: 1;
}
.flex-item2{
position: absolute;
width: 180px;
height: 194px;
left: 178px;
top: 411px;
background: url(./image/lip2.jpg) no-repeat;
text-indent: -9999px;
}
.flex-item3{
position: absolute;
width: 180px;
height: 194px;
left: 36px;
top:608px;
text-indent: -9999px;
background: url(./image/lip3.jpg) no-repeat;
z-index: 1;
}
.flex-item4{
position: absolute;
width: 180px;
height: 194px;
left:  178px;
top: 677px;
background: url(./image/lip4.jpg) no-repeat;
text-indent: -9999px;

}
/*laptop responsive  ----- */
 
@media  screen and (min-width: 1200px)
{
    body{
        background-color: cadetblue;
    }
   .grid-container2{
    width: 1440px ;
    
}
header{
    width: 1440px;
}
ul#meny {
    
    display: flex;
    justify-items: center;
    
    
    }
    ul#meny li {
        display: inline-flex;
        

}
.logo{
    display: flex;
    align-items: center;
}
